<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <a class="navbar-brand" href="/">Effective Datatables</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div id='navbarSupportedContent' class='collapse navbar-collapse'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item <%= 'active' if request.path.start_with?(users_path) %>'>
        <%= link_to 'Simple', users_path, class: 'nav-link' %>
      </li>
      <li class='nav-item <%= 'active' if request.path.start_with?(posts_path) %>'>
        <%= link_to 'Advanced', posts_path, class: 'nav-link' %>
      </li>
      <li class='nav-item'>
        <%= link_to 'Github', 'https://github.com/code-and-effect/effective_datatables_demo', class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>