<!DOCTYPE html>
<html>
  <head>
    <title>gem 'effective_datatables'</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class='container my-4'>
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>

