<!DOCTYPE html>
<html>
  <head>
    <title>EffectiveDatatablesDemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class='container my-4'>
      <h1><%= @page_title %></h1>
      <br>
      
      <%= yield %>
    </div>
  </body>
</html>
